<div id="main_menu" class='main_menu' ng-show='showMainNavBar' ng-controller="Shell as vm">
    <!-- Loading animation-->
    <div class="main_menu_loading" ng-show="loading"><!-- -->
        <svg version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
         <path fill="#fff" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
          c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
              <animateTransform 
                 attributeName="transform" 
                 attributeType="XML" 
                 type="rotate"
                 dur="2s" 
                 from="0 50 50"
                 to="360 50 50" 
                 repeatCount="indefinite" />
          </path>
         <path fill="#fff" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
          c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
              <animateTransform 
                 attributeName="transform" 
                 attributeType="XML" 
                 type="rotate"
                 dur="1s" 
                 from="0 50 50"
                 to="-360 50 50" 
                 repeatCount="indefinite" />
          </path>
         <path fill="#fff" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
          L82,35.7z">
              <animateTransform 
                 attributeName="transform" 
                 attributeType="XML" 
                 type="rotate"
                 dur="2s" 
                 from="0 50 50"
                 to="360 50 50" 
                 repeatCount="indefinite" />
          </path>
        </svg>
    </div><!-- Loading Animation -->

    <div ng-class="{ 'brand_container_blurred': loading }" class='brand_container row end-xs start-sm'>
        <div class="col-xs-3 col-sm">
            <div class="box">
                <a ng-href='#/signin'>
<!--                     <img src="http://primg.checkpointchallenge.com:81/utils/logo/matoot_logo_vertical.png" alt="Matoot" height="42" width="42"> -->
                    <span class='brand_logo'><i class='fa fa-sign-out' aria-hidden="true"></i></span>
                    <span class='brand_subtitle'>SignOut</span>
                </a>
            </div>
        </div>
        <div id="brand_container_line2" class="col-xs-9 col-sm">
            <div class="box">
                <span id="main_menu_breadcrumbs" class='menu_breadcrumbs' ng-bind-html="breadCrumbs"></span>
            </div>
        </div>
    </div>
  <nav>
    <div id='nav-container'  ng-class="{ 'brand_container_blurred': loading }" class='nav-container'>
      <div>
        <input class="nav_input_checkbox" id='Profile' name='Profile' type='checkbox'>
        <label class='slide has-child' for='Profile'>
          <span class='element'>Profile</span>
          <span class='name'>My Company info</span>
        </label>
        <div class='child-menu'>
<!--           <a class="child_menu_option" href='#/rewards'>Credentials</a> -->
          <a class="child_menu_option" href='#/profile'>Corporate Info</a>
          <a class="child_menu_option" href='#/rewards'>Payment info <i class='fa fa-wrench'></i></a>
        </div>
      </div>
      <div>
        <input class="nav_input_checkbox" id='Traffic' name='Traffic' type='checkbox'>
        <label class='slide has-child' for='Traffic'>
          <span class='element'>Traffic</span>
          <span class='name'>Management</span>
        </label>
        <div class='child-menu'>
          <a class="child_menu_option" href='#/tr_management'>Target Market</a>
          <a class="child_menu_option" href='#/trivia'>Trivia Challenges</a>
          <a class="child_menu_option" href='#/promo'>Promotions (Coupons)</i></a>
        </div>
      </div>
      <div>
        <input class="nav_input_checkbox" id='Performance' name='Performance' type='checkbox'>
        <label class='slide has-child' for='Performance'>
          <span class='element'>Traffic <i class='fa fa-wrench'></i></span>
          <span class='name'>Performance Reports</span>
        </label>
        <div class='child-menu'>
          <a class="child_menu_option" href='#/rewards'>Report 1</a>
          <a class="child_menu_option" href='#/rewards'>Report 2</a>
          <a class="child_menu_option" href='#/rewards'>...</a>
          <a class="child_menu_option" href='#/rewards'>Report X</a>
        </div>
      </div>
      <div>
        <a class='slide' href='#/rewards'>
          <span class='element'>Budget <i class='fa fa-wrench'></i></span>
          <span class='name'>Management</span>
        </a>
      </div>
    </div>
  </nav>
</div>

<div data-ng-view id="main_content" class="main_content" style="height: 100%; width: 100%;"></div>

<script>
    /* Height control */
    resize( );
    window.onresize = resize;

    function resize( ) {
        if ( window.innerWidth <= 900 ) {
            var menu = document.getElementById( 'main_menu' );
            var rectMenu = menu.getBoundingClientRect( );
            console.log(rectMenu);
//             document.getElementById( 'main_content' ).style.top = rectMenu.height + 'px';
            document.getElementById( 'main_content' ).style.top = ( rectMenu.height - 2 ) + 'px';
        }
    }
    /* Height control */
</script>